@charset "UTF-8";

/* 
Loading
===========================================================*/
#loading {
  background-color: rgb(237, 230, 230);
  position: fixed;
  inset:0;
  z-index: 9999;
  display: grid;
  transition: all 1s;
  place-items: center;
}

/************************************************************* */
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #54e32d;
  border-radius: 100%;
  animation: sk-scaleout 3.0s infinite ease-in-out;
}


@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* ************************************************************** */

#loading-screen {
  background-color: rgb(255, 255, 255);
  position: fixed;
  inset:0;
  z-index: 9998;
  translate: 0 100vh;
}


body {
  /* background-image: url(images/disney1.jpg); */
  background-color: #0fee982c;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
  font-family:"MS Pゴシック",sans-serif;
  font-size: 15px;
  border-top: 10px solid #79a1ba;
  border-bottom: 30px solid #79a1ba;
}


a {
  text-decoration: none; 
  color: #0a0a0a;
}


.logo {
  text-align: center; 
  margin-bottom: 30px;
}

.logo img {
  width: 5%;
  height: 5%;
  margin-bottom: 5px;
}

.w-inner {
  width: 1200px;
  margin: 0 auto;
}

.header ul {
  display: flex; 
  list-style: none;
  padding-left: 0;
}

.header ul li {
  width: 200px;
  min-width: 200px;
  text-align: center;
  border-right: 1px solid #5d5b5b;


}

.header ul li label{
  width: 200px;
  min-width: 200px; 
  text-align: center;
  text-decoration: none; 
}



.header ul li a {
  display: block;
  border-left:  1px solid #5b5b5b;;
} 

.header-img {
  display: flex;
}

.header-img img {
  display: block;
  text-align: center; 
  margin: 0 auto;
  border-left: 100px;
  width: 800px;
  height: 400%;

}

#gator {
  padding-top: 1000px;
  width: 100px;
  height: 60px;
}

#gator_copy {
  font-size: xx-small;
  margin-top: 1050px;
  margin-right: 100px;
}

h2 {
  text-align: center;
}


.container_hobby h2{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.hobby img {
  width: 300px;
  height: 300px;
}

.hobby {
  text-align: center;
  flex: 1;
}


.hobby_block {
  display: flex;
  margin: auto;
  max-width: 1200px;
}

.container_hobby .hobby img {
  margin-bottom: 20px;
}

.container_hobby .hobby .title {
  margin-bottom: 20px;
}

.container_hobby .hobby .explain {
  margin-bottom: 20px;
}

.container_hobby .hobby a {
  background-color: #79a1ba;;
  color: #fff;
  padding: 10px 15px 10px;
}

.source {
  text-align: right;
}

iframe {
  display: flex;
}

/* ****************************************** */

input {
  display: none;
}

/* ポップアップwindow部分 */
#overlay {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
}

/* オーバーレイの背景部分 */
.bg_gray {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 80;
}

/* ウィンドウ部分 */
#window {
  width: 50%;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
  z-index: 90;
  opacity: 0;
}

/* 閉じるボタン */
.btn_cloth {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CE5D8B;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
}

.btn_cloth:hover {
  opacity: 0.7;
}

.btn_cloth span,
.btn_cloth span::before {
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #fff;
}

.btn_cloth span {
  transform: rotate(45deg);
}

.btn_cloth span::before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
}


/* クリックで表示 */
#popup:checked ~ #overlay {
  visibility: visible;
}

#popup:checked ~ #overlay #window {
  animation: fadein 500ms forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fadein {
  100% {
      opacity: 1;
  }
}


/* コンテンツ部分のスタイル */
body {
  margin: 30px;
}


.txt_label {
  text-decoration: underline;
  cursor: pointer;
}

.txt_label:hover {
  opacity: 0.7;
}

.msg {
  color: black;
}


.msg p{
  text-align: center;
}



/* ****************************************** */


/* ポップアップwindow部分 */
#overlay2 {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
}


/* ウィンドウ部分 */
#window2 {
  width: 50%;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
  z-index: 90;
  opacity: 0;
}


/* クリックで表示 */
#popup2:checked ~ #overlay2 {
  visibility: visible;
}

#popup2:checked ~ #overlay2 #window2 {
  animation: fadein 500ms forwards;
  animation-timing-function: ease-in-out;
}

/* ****************************************** */

/* ポップアップwindow部分 */
#overlay3 {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
}


/* ウィンドウ部分 */
#window3 {
  width: 50%;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
  z-index: 90;
  opacity: 0;
}


/* クリックで表示 */
#popup3:checked ~ #overlay3 {
  visibility: visible;
}

#popup3:checked ~ #overlay3 #window3 {
  animation: fadein 500ms forwards;
  animation-timing-function: ease-in-out;
}


/* ****************************************** */

/* ポップアップwindow部分 */
#overlay4 {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
}


/* ウィンドウ部分 */
#window4 {
  width: 50%;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
  z-index: 90;
  opacity: 0;
}


/* クリックで表示 */
#popup4:checked ~ #overlay4 {
  visibility: visible;
}

#popup4:checked ~ #overlay4 #window4 {
  animation: fadein 500ms forwards;
  animation-timing-function: ease-in-out;
}

.msg a {
  display: inline-block;
  color: #fff;
  background: #CE5D8B;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  text-decoration: none;
  text-align: center;
}

.msg iframe {
  margin: auto;
  padding-left: 17px;
}

.msg a:hover {
  opacity: 0.7;
  
}

.Navigatemap {
  text-align: center;
}

/* ****************************************** */

/* ポップアップwindow部分 */
#overlay5 {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
}


/* ウィンドウ部分 */
#window5 {
  width: 50%;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
  z-index: 90;
  opacity: 0;
}


/* クリックで表示 */
#popup5:checked ~ #overlay5 {
  visibility: visible;
}

#popup5:checked ~ #overlay5 #window5 {
  animation: fadein 500ms forwards;
  animation-timing-function: ease-in-out;
}

#omikuji {
  font-size: 25px;
  font-weight: bolder;
}

.msg img {
  margin-left: 30px;
  width: 130px;
  height: 130px;
  float: left;
}

/************************************************/

/* ポップアップwindow部分 */
#overlay6 {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
}


/* ウィンドウ部分 */
#window6 {
  width: 50%;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
  z-index: 90;
  opacity: 0;
}


/* クリックで表示 */
#popup6:checked ~ #overlay6 {
  visibility: visible;
}

#popup6:checked ~ #overlay6 #window6 {
  animation: fadein 500ms forwards;
  animation-timing-function: ease-in-out;
}

.photo {
  display: flex;
}

.photo img {
  margin: auto;
  width: 30%;
  height: 30%;
}


/* **************************************/

/* ポップアップwindow部分 */
#overlay7 {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
}


/* ウィンドウ部分 */
#window7 {
  width: 50%;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
  z-index: 90;
  opacity: 0;
}


/* クリックで表示 */
#popup7:checked ~ #overlay7 {
  visibility: visible;
}

#popup7:checked ~ #overlay7 #window7 {
  animation: fadein 500ms forwards;
  animation-timing-function: ease-in-out;
}


/* ************************************** */

/* ポップアップwindow部分 */
#overlay8 {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
}


/* ウィンドウ部分 */
#window8 {
  width: 50%;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
  z-index: 90;
  opacity: 0;
}


/* クリックで表示 */
#popup8:checked ~ #overlay8 {
  visibility: visible;
}

#popup8:checked ~ #overlay8 #window8 {
  animation: fadein 500ms forwards;
  animation-timing-function: ease-in-out;
}

